@font-face {
	font-family: BebasNeue;
	src: url(BebasNeue-Bold.otf);
}

@media screen and (max-width: 1920px) {

	#forsidesplash {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1em;
		grid-auto-rows: minmax(100px, auto);
		justify-content: stretch;
	}

	.box1 {
		/*align-self: start;*/
		grid-column: 1/3;
		grid-row: 1/3;

	}

	.box2 {
		/*align-self: start;*/
		grid-column: 3;

	}

	.box3 {}

	#forsidesplash > div:nth-child(odd) {}

	#forside h1 {
		font-family: BebasNeue;
		font-size: 6rem;
	}

	.splashbillede1 {
		margin-top: 50px;
		max-height: 535px;






	}

	.splashbillede2 {

		height: 290px;
		margin-top: 50px;
		max-height: 250px;
		margin-left: 450px;







	}

	.splashgif {

		height: 450px;
		margin-top: 0px;




	}

	#youbrewcontainer {
		background-color: white;
		margin-bottom: 200px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(100px, auto);


	}



	.youbrewoverskrift {
		font-family: BebasNeue;
		font-size: 7em;
		text-align: center;
		color: #6ac4c4;
		margin-bottom: 50px;
		grid-column: 1/4;
		margin-top: 70px;
	}




	.youbrewbox1 {
		margin-left: 60px;
		max-width: 600px;
		margin-bottom: 50px;

	}

	.youbrewbox2 h2 {
		font-family: BebasNeue;
	}

	.youbrewbox2 {
		margin-left: 40px;
		margin-right: 70px;
		grid-column: 2/4;

	}

	.youbrewbox2 p {
		font-family: Helvetica;
		text-align: justify;
	}



}


@media screen and (max-width: 992px) {

	#forsidesplash {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1em;
		grid-auto-rows: minmax(100px, auto);
		justify-content: stretch;
	}

	.box1 {
		/*align-self: start;*/
		grid-column: 1/3;
		grid-row: 1/3;

	}

	.box2 {
		/*align-self: start;*/
		grid-column: 3;


	}

	.box3 {}

	#forsidesplash > div:nth-child(odd) {}

	#forside h1 {
		font-family: BebasNeue;
		font-size: 6rem;
	}

	.splashbillede1 {
		height: 500px;
		margin-top: 50px;
		max-height: 450px;






	}

	.splashbillede2 {

		height: 290px;
		margin-top: 100px;
		max-height: 250px;
		margin-left: 400px;







	}

	.splashgif {

		height: 350px;
		margin-top: 0px;
		padding-left: 100px;



	}

	#youbrewcontainer {
		background-color: white;
		margin-bottom: 200px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(100px, auto);


	}



	.youbrewoverskrift {
		font-family: BebasNeue;
		font-size: 7em;
		text-align: center;
		color: #6ac4c4;
		margin-bottom: 50px;
		margin-top: 70px;
	}




	.youbrewbox1 {
		grid-column: 1/3;
		grid-row: 1;
		/*
		max-width: 500px;
		margin-bottom: 50px;
		margin-left: 130px;
*/
	}

	.youbrewbox2 h2 {
		font-family: BebasNeue;
	}

	.youbrewbox2 {
		margin-left: 50px;
		margin-right: 70px;
		grid-column: 1/3;

	}

	.youbrewbox2 p {
		font-family: Helvetica;

		text-align: justify;
	}



}


@media screen and (max-width: 600px) {

	#forsidesplash {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1em;
		grid-auto-rows: minmax(100px, auto);
		justify-content: stretch;


		/*
	height: 500px;
	margin-top: 33px;
	margin-bottom: 60px;
	background-color: white;
*/

	}

	.box1 {
		/*align-self: start;*/
		grid-column: 1/4;
		grid-row: 1/3;

	}

	.box2 {
		/*align-self: start;*/
		grid-column: 1/3;


	}

	.box3 {
		grid-column: 3;
		padding-left: 100px;


	}

	#forsidesplash > div:nth-child(odd) {}

	#forside h1 {
		font-family: BebasNeue;
		font-size: 6rem;
	}

	.splashbillede1 {
		height: 500px;
		margin-top: 50px;
		max-height: 300px;






	}

	.splashbillede2 {

		height: 290px;
		margin-top: 3px;
		margin-left: 3px;
		max-height: 200px;





	}

	.splashgif {

		height: 320px;
		margin-top: 0px;
		max-height: 200px;

	}

	#youbrewcontainer {
		background-color: white;
		margin-bottom: 200px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;



	}



	.youbrewoverskrift {
		font-family: BebasNeue;
		font-size: 4em;
		text-align: center;
		color: #6ac4c4;
		margin-bottom: 50px;
		margin-top: 100px;
	}



	.youbrewbox1 {
		grid-column: 1/4;
		margin-left: 0;




	}

	.youbrewvideo {
		max-width: 500px;

	}

	.youbrewbox2 h2 {
		font-family: BebasNeue;
	}

	.youbrewbox2 {
		margin-left: 20px;
		margin-right: 10px;
		grid-column: 4;
		grid-row: 2;

	}

	.youbrewbox2 p {
		font-family: Helvetica;

		text-align: justify;
	}

}
