@font-face {
	font-family: BebasNeue;
	src: url(BebasNeue-Bold.otf);
}

a {
	color: black;
}

a:hover {
	color: #3d808d;

}




@media only screen and (max-width: 1920px) {

	section {
		background-color: white;
	}

	.text-success {
		color: #016caf !important;
		font-family: BebasNeue;
	}



	#forsidesplash {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1em;
		grid-auto-rows: minmax(100px, auto);
		justify-content: stretch;
	}

	.box1 {
		/*align-self: start;*/
		grid-column: 1/3;
		grid-row: 1/3;

	}

	.box2 {
		/*align-self: start;*/
		grid-column: 3;

	}

	.box3 {}

	#forsidesplash > div:nth-child(odd) {}

	#forside h1 {
		font-family: BebasNeue;
		font-size: 6rem;
	}

	.splashbillede1 {
		margin-top: 50px;
		max-height: 535px;






	}

	.splashbillede2 {

		height: 290px;
		margin-top: 50px;
		max-height: 250px;
		margin-left: 450px;







	}

	.splashgif {

		height: 450px;
		margin-top: 0px;




	}

	#youbrewcontainer {
		background-color: white;
		margin-bottom: 100px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(100px, auto);


	}



	.youbrewoverskrift {
		font-family: BebasNeue;
		font-size: 7em;
		text-align: center;
		color: #6ac4c4;
		margin-bottom: 50px;
		grid-column: 1/4;
		margin-top: 70px;
	}




	.youbrewbox1 {
		margin-left: 60px;
		max-width: 600px;
		margin-bottom: 50px;

	}

	.youbrewbox2 h2 {
		font-family: BebasNeue;
	}

	.youbrewbox2 {
		margin-left: 40px;
		margin-right: 70px;
		grid-column: 2/4;

	}

	.youbrewbox2 p {
		font-family: Helvetica;
		text-align: justify;
	}



}

.youbrewcontainer2 {
	background-color: white;
	margin-bottom: 100px;
	margin-left: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
}

.youbrewcontainer2 h2 {
	font-family: BebasNeue;
}

.youbrewcontainer2 p {
	font-family: Helvetica;
	text-align: justify;
	max-width: 500px;
	grid-column: 1;
}

.offerbutton {
	height: 50px;
	border-radius: 30px;
	width: 200px;
	background-color: #ffba00;

}

.offerbutton:hover {
	background-color: #ff9d00;
}

.offerbutton h5 {
	padding: 15px;
	padding-left: 33px;
	font-family: BebasNeue;
	color: white;
}

.pressgauge {
	max-width: 550px;
	grid-column: 2;
	grid-row: 1;
}


.js-slidein {
	opacity: 0;
	transform: translateY(100px);
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	max-height: 1000px;
	margin-left: 265px;
	margin-bottom: 200px;
}

.js-slidein-visible {
	opacity: 1 !important;
	transform: translateY(0) !important;
}

.instagram {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	height: 200px;
	background-color: orange;
	padding-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 50px;
}

.instagram h1 {
	font-family: BebasNeue;
	font-size: 6em;
}

.instagram p {
	font-family: Helvetica;
	max-width: 500px;
	text-align: right;

}

.eapps-instagram-feed-content {
	margin-bottom: 50px !important;
}

/* OUR BEER PAGE */

.summeripavideo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	margin-left: 50px;
	margin-bottom: 100px;

}

.videotekst {
	margin-left: 60px;

}

.videotekst h1 {
	font-family: BebasNeue;
	font-size: 4em;
	color: #3495dd;
}

.videotekst p {
	font-family: Helvetica;
	text-align: justify;
	margin-right: 50px;
}

.beerselection {
	font-family: BebasNeue;
	text-align: center;
	font-size: 7em;
	margin-bottom: 50px;
}

.order {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	grid-auto-rows: minmax(100px, auto);

}

.ordertekst {
	margin-left: 30px;
}

.ordertekst h1 {
	font-family: BebasNeue;
	font-size: 3em;
}

.ordertekst p {
	font-family: Helvetica;
	text-align: justify;
	margin-top: 30px;
	margin-right: 25px;
}

.sourpeachcans {
	max-width: 800px;
}

#ourbeercontainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	margin-bottom: 100px;
}

.ourbeersplash {
	margin-top: 50px;
	max-height: 750px;
}

/*
.ourbeerh1 {
	font-family: BebasNeue;
	margin-top: 200px;
	font-size: 7em;
	text-align: center;
}
*/

.bsc {
	position: relative;
	display: inline-block;

}

.bsch4 {
	margin-top: 20px;
	font-family: BebasNeue;
	text-align: center;
}

.bscfront {
	max-height: 250px;
}

.bscback {
	max-height: 250px;
}

.bsc .bscback {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.bsc:hover .bscback {
	display: inline;
}

.summeripa {
	position: relative;
	display: inline-block;

}

.summeripah4 {
	margin-top: 20px;
	font-family: BebasNeue;
	text-align: center;
}

.summeripafront {
	max-height: 250px;
}

.summeripaback {
	max-height: 250px;
}

.summeripa .summeripaback {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.summeripa:hover .summeripaback {
	display: inline;
}

.tgiipa {
	position: relative;
	display: inline-block;

}

.tgiipah4 {
	margin-top: 20px;
	font-family: BebasNeue;
	text-align: center;
}

.tgiipafront {
	max-height: 250px;
}

.tgiipaback {
	max-height: 250px;
}

.tgiipa .tgiipaback {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.tgiipa:hover .tgiipaback {
	display: inline;
}


.sourpeach {
	position: relative;
	display: inline-block;
	margin-top: 40px;

}

.sourpeachh4 {
	margin-top: 20px;
	font-family: BebasNeue;
	text-align: center;
}

.sourpeachfront {
	max-height: 250px;
}

.sourpeachback {
	max-height: 250px;
}

.sourpeach .sourpeachback {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.sourpeach:hover .sourpeachback {
	display: inline;
}

.hangar5 {
	position: relative;
	display: inline-block;
	margin-top: 40px;

}

.hangar5h4 {
	margin-top: 20px;
	font-family: BebasNeue;
	text-align: center;
}

.hangar5front {
	max-height: 250px;
}

.hangar5back {
	max-height: 250px;
}

.hangar5 .hangar5back {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.hangar5:hover .hangar5back {
	display: inline;
}

.redbaron {
	position: relative;
	display: inline-block;
	margin-top: 40px;

}

.redbaronh4 {
	margin-top: 20px;
	font-family: BebasNeue;
	text-align: center;
}

.redbaronfront {
	max-height: 250px;
}

.redbaronback {
	max-height: 250px;
}

.redbaron .redbaronback {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.redbaron:hover .redbaronback {
	display: inline;
}

.xmas {
	position: relative;
	display: inline-block;
	margin-top: 40px;

}

.xmash4 {
	margin-top: 20px;
	font-family: BebasNeue;
	text-align: center;
}

.xmasfront {
	max-height: 250px;
}

.xmasback {
	max-height: 250px;
}

.xmas .xmasback {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.xmas:hover .xmasback {
	display: inline;
}

.pilot {
	position: relative;
	display: inline-block;
	margin-top: 40px;

}

.piloth4 {
	margin-top: 20px;
	font-family: BebasNeue;
	text-align: center;
}

.pilotfront {
	max-height: 250px;
}

.pilotback {
	max-height: 250px;
}

.pilot .pilotback {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.pilot:hover .pilotback {
	display: inline;
}

.mwl {
	position: relative;
	display: inline-block;
	margin-top: 40px;

}

.mwlh4 {
	margin-top: 20px;
	font-family: BebasNeue;
	text-align: center;
}

.mwlfront {
	max-height: 250px;
}

.mwlback {
	max-height: 250px;
}

.mwl .mwlback {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.mwl:hover .mwlback {
	display: inline;
}

/* BEER PAGE */

.beerpage {
	max-width: 1200px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	margin-bottom: 100px;
}

.beerpagepicture {
	max-height: 500px;
	margin-left: 230px;
	margin-top: 200px;

}

.beerpageh1 {
	font-family: BebasNeue;
	font-size: 4.7em;
	margin-top: 200px;
	margin-left: 60px;


}


.beerpage p {
	font-family: Helvetica;
	text-align: justify;
	max-width: 500px;
	margin-left: 60px;
	margin-top: 50px;

}

.infop {
	font-family: Helvetica;
	text-align: justify;
	max-width: 500px;
	margin-left: 60px;
	margin-top: 10px;
}

.beerpage h5 {
	font-family: BebasNeue;
	margin-left: 60px;
	margin-top: 40px;
}


hr {
	border: 1px solid #044160;
	max-width: 500px;
	margin-top: 50px;
}

/* ABOUT PAGE START */

.aboutparallax h1 {
	font-family: BebasNeue;
	font-size: 10em;
	color: black;
	margin-left: 20px;
	padding-top: 420px;
}

.aboutparallax {
	background-image: url('goodbeerbackground2-01.png');

	height: 700px;

	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;



}


.aboutbox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	justify-content: stretch;
	margin-top: 40px;
	margin-left: 50px;
	background-color: white;
	height: 600px;
}

.aboutbox h1 {
	font-family: BebasNeue;
	font-size: 6.5em;
	padding-left: 600px;
	grid-column: 1/4;
	color: #306293;
}

.aboutbox h2 {
	font-family: BebasNeue;
	font-size: 3em;
}

.aboutbox p {
	font-family: Helvetica;
	text-align: justify;
	max-width: 570px;
	margin-top: 20px;
}

.tanke {
	max-height: 400px;
	margin-left: 40px;
}

.ourvisiongif {
	max-height: 300px;
	grid-column: 1/4;
	margin-left: 100px;

}

.visionbox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	grid-auto-rows: minmax(100px, auto);
	justify-content: stretch;
	margin-left: 50px;
	background-color: white;
	height: 750px;
	padding-top: 50px;
	padding-left: 120px;
}

.visionbox h2 {
	font-family: BebasNeue;
	font-size: 2em;
}

.visionbox p {
	font-family: Helvetica;
	text-align: justify;
	max-width: 350px;

}



.visionbrew {}


/* ABOUT PAGE END */

.contactparallax {
	background-image: url("kimlars2.png");

	/* Set a specific height */
	height: 700px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.contacth1 {
	font-family: BebasNeue;
	font-size: 10em;
	margin-left: 350px;
	padding-top: 400px;
	color: white;
}

.contactbox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	grid-auto-rows: minmax(100px, auto);
	justify-content: stretch;
	margin-top: 20px;
	margin-left: 50px;
	background-color: white;
	height: 520px;
}



.contactkim {
	max-height: 500px;
}

.contacttext {
	max-width: 450px;
	margin-top: 80px;
	font-family: Helvetica;
	text-align: justify;
}

.contacttext h1 {
	font-family: BebasNeue;
	font-size: 3em;
	text-align: left;
}

.contactlars {
	max-height: 450px;
}


label {
	font-family: BebasNeue;
	font-size: 1.6em;
}

input[type=text],
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: Helvetica;

}

input[type=book] {
	width: 400px;
	background-color: orange;
	color: white;
	padding: 20px 150px;
	margin-left: 220px;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-family: BebasNeue;
	font-size: 2em;
	text-align: center;
	margin-top: 20px;
}

input[type=book]:hover {
	background-color: #60dd1d;
}

.bookform {
	border-radius: 5px;
	padding: 20px;
	max-width: 900px;
	margin-left: 180px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.bookform h3 {
	font-family: BebasNeue;
	font-size: 4em;
	color: orange;

}




@media only screen and (max-width: 992px) {

	#forsidesplash {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1em;
		grid-auto-rows: minmax(100px, auto);
		justify-content: stretch;
	}

	.box1 {
		/*align-self: start;*/
		grid-column: 1/3;
		grid-row: 1/3;

	}

	.box2 {
		/*align-self: start;*/
		grid-column: 3;


	}

	.box3 {}

	#forsidesplash > div:nth-child(odd) {}

	#forside h1 {
		font-family: BebasNeue;
		font-size: 6rem;
	}

	.splashbillede1 {
		height: 500px;
		margin-top: 50px;
		max-height: 450px;






	}

	.splashbillede2 {

		height: 290px;
		margin-top: 100px;
		max-height: 250px;
		margin-left: 400px;







	}

	.splashgif {

		height: 350px;
		margin-top: 0px;
		padding-left: 100px;



	}

	#youbrewcontainer {
		background-color: white;
		margin-bottom: 200px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(100px, auto);


	}



	.youbrewoverskrift {
		font-family: BebasNeue;
		font-size: 7em;
		text-align: center;
		color: #6ac4c4;
		margin-bottom: 50px;
		margin-top: 70px;
	}




	.youbrewbox1 {
		grid-column: 1/3;
		grid-row: 1;
		/*
		max-width: 500px;
		margin-bottom: 50px;
		margin-left: 130px;
*/
	}

	.youbrewbox2 h2 {
		font-family: BebasNeue;
	}

	.youbrewbox2 {
		margin-left: 50px;
		margin-right: 70px;
		grid-column: 1/3;

	}

	.youbrewbox2 p {
		font-family: Helvetica;

		text-align: justify;
	}

	.youbrewcontainer2 {
		background-color: white;
		margin-bottom: 200px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(100px, auto);


	}

	.youbrewcontainer2box1 {
		grid-column: 1/3;
		grid-row: 1;


	}

	.youbrewcontainer2box2 {
		margin-top: 30px;
		margin-left: 0px;
		margin-right: 70px;
		grid-column: 1/3;

	}

	.offerbutton {
		margin-left: 200px;
	}

	.youbrewcontainer2 p {
		min-width: 550px;
	}

	.ourbeersplash {
		max-height: 500px;
	}

	#ourbeercontainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(100px, auto);
		margin-bottom: 70px;
	}

	.tgiipa {
		margin-top: 40px;
	}

	.sourpeach {
		margin-left: 12px;
	}

	.sourpeachh4 {
		margin-right: 20px;
	}

	.bookform h3 {
		font-family: BebasNeue;
		font-size: 4.5em;
		color: orange;
		text-align: center;

	}
}

@media only screen and (max-width: 600px) {




	#forsidesplash {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 1em;
		grid-auto-rows: minmax(100px, auto);
		justify-content: stretch;




	}

	.box1 {
		/*align-self: start;*/
		grid-column: 1/4;
		grid-row: 1/3;

	}

	.box2 {
		/*align-self: start;*/
		grid-column: 1/3;


	}

	.box3 {
		grid-column: 3;
		padding-left: 100px;


	}

	#forsidesplash > div:nth-child(odd) {}

	#forside h1 {
		font-family: BebasNeue;
		font-size: 6rem;
	}

	.splashbillede1 {
		height: 500px;
		margin-top: 50px;
		max-height: 300px;






	}

	.splashbillede2 {

		height: 290px;
		margin-top: 3px;
		margin-left: 3px;
		max-height: 200px;





	}

	.splashgif {

		height: 320px;
		margin-top: 0px;
		max-height: 200px;

	}

	#youbrewcontainer {
		background-color: white;
		margin-bottom: 40px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;



	}



	.youbrewoverskrift {
		font-family: BebasNeue;
		font-size: 4em;
		text-align: center;
		color: #6ac4c4;
		margin-bottom: 50px;
		margin-top: 100px;
	}



	.youbrewbox1 {
		grid-column: 1/4;
		margin-left: 0;




	}

	.youbrewvideo {
		max-width: 500px;

	}

	.youbrewbox2 h2 {
		font-family: BebasNeue;
		font-size: 3em;
	}

	.youbrewbox2 {
		margin-left: 50px;
		margin-right: 40px;
		grid-column: 4;
		grid-row: 2;

	}

	.youbrewbox2 p {
		margin-top: 40px;
		font-family: Helvetica;
		text-align: justify;
	}

	.youbrewcontainer2 {
		background-color: white;
		margin-bottom: 200px;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);


	}

	.youbrewcontainer2 h2 {
		font-size: 3em;

	}

	.youbrewcontainer2box1 {
		margin-right: 40px;


	}

	.youbrewcontainer2box2 {
		margin-top: 30px;
		margin-left: 0px;
		margin-right: 70px;
		grid-column: 1/3;

	}

	.offerbutton {
		margin-left: 110px;
	}

	.youbrewcontainer2 p {
		min-width: 50px;
		margin-bottom: 40px;
		margin-top: 30px;
	}

	.pressgauge {
		max-width: 400px;
	}

	.js-slidein {
		max-height: 730px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 50px;
	}


	.instagram {
		grid-template-columns: 1fr;
		height: 250px;
	}

	.instagram h1 {
		font-size: 4.3em;
		text-align: center;
	}

	.instagram p {
		text-align: center;
		font-size: 1em;
	}

	#

	/* OUR BEER PAGE */
	#ourbeercontainer {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);
		margin-bottom: 70px;
		margin-left: 50px;

	}

	.ourbeersplash {
		margin-top: 50px;
		max-height: 300px;
	}

	.contacth1 {
		font-size: 4em;
		margin-left: 140px;
		padding-top: 300px;
	}

	.summeripa {
		margin-top: 45px;

	}

	.tgiipa {
		margin-top: 45px;
	}

	.sourpeach {
		margin-top: 45px;
		margin-left: 10px;

	}

	.hangar5 {
		margin-top: 45px;
	}

	.redbaron {
		margin-top: 45px;
	}

	.xmas {
		margin-top: 45px;
	}

	.pilot {
		margin-top: 45px;
	}

	.mwl {
		margin-top: 45px;
	}

	.sourpeachh4 {
		margin-right: 20px;
	}

	/* BOOK PAGE */


	.bookform {
		margin-left: 10px;
	}

	.bookform h3 {
		font-family: BebasNeue;
		color: orange;
		font-size: 3em;

	}

	label {
		font-family: BebasNeue;
		font-size: 1.2em;
	}

	input[type=text],
	select {}

	input[type=book] {
		margin-left: 25px;
	}


	.contactbox {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 1em;
		grid-auto-rows: minmax(100px, auto);
		justify-content: stretch;
		margin-left: 50px;
		background-color: white;
		height: 750px;
	}



	.contactkim {
		max-height: 350px;
	}

	.contacttext {
		max-width: 400px;
		margin-top: 0px;
		font-family: Helvetica;
		text-align: justify;
	}

	.contacttext h1 {
		font-family: BebasNeue;
		font-size: 3em;
		text-align: center;
	}

	.contactlars {
		max-height: 350px;
	}


	/* OUR BEER PAGE */
	.summeripavideo {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(100px, auto);
		margin-left: 50px;
		margin-bottom: 100px;

	}

	.ipavideo {
		max-height: 230px;
		grid-column: 1/3;
	}

	.videotekst {
		margin-top: 40px;
		margin-left: 0px;


	}

	.videotekst h1 {
		font-family: BebasNeue;
		text-align: center;
		font-size: 4em;
		color: #3495dd;
	}

	.videotekst p {
		font-family: Helvetica;
		text-align: justify;
		justify-content: center;
		margin-right: 0px;
		margin-left: 30px;
		min-width: 340px;
	}

	.order {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em;
		grid-auto-rows: minmax(100px, auto);

	}

	.ordertekst {
		margin-left: 30px;
	}

	.ordertekst h1 {
		font-family: BebasNeue;
		font-size: 4em;
		text-align: center;
	}

	.ordertekst p {
		font-family: Helvetica;
		text-align: justify;
		margin-top: 30px;
		margin-right: 25px;
	}

	.sourpeachcans {
		max-width: 500px;
		grid-column: 1;
	}

	/* OUR BEER PAGE END*/

	/* ABOUT PAGE START */

	.aboutparallax h1 {
		font-family: BebasNeue;
		font-size: 6.2em;
		color: black;
		margin-left: 20px;
		padding-top: 450px;
	}

	.aboutparallax {
		background-image: url('goodbeerbackground2-01.png');

		height: 700px;

		background-attachment: fixed;
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;



	}


	.aboutbox {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(100px, auto);
		justify-content: stretch;
		margin-left: 40px;
		background-color: white;
		height: 900px;
		margin-right: 40px;
	}

	.aboutbox h1 {
		font-family: BebasNeue;
		font-size: 4.8em;
		padding-left: 0;
		grid-column: 1/4;
		color: #306293;

	}

	.aboutbox h2 {
		font-family: BebasNeue;
		font-size: 3em;
	}

	.aboutbox p {
		font-family: Helvetica;
		text-align: justify;
		max-width: 570px;
		margin-top: 20px;
	}

	#begantekst {}

	.tanke {
		max-height: 300px;
		margin-left: 20px;

	}

	.ourvisiongif {
		max-height: 200px;
		grid-column: 1/2;
		margin-left: 0px;

	}

	.visionbox {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 1em;
		grid-auto-rows: minmax(100px, auto);
		justify-content: stretch;
		margin-left: 30px;
		background-color: white;
		height: 750px;
		padding-top: 50px;
		padding-left: 0px;

	}

	.visionbox h2 {
		font-family: BebasNeue;
		font-size: 2em;
		text-align: center;
	}

	.visionbox p {
		font-family: Helvetica;
		text-align: justify;
		max-width: 350px;
		margin-left: 60px;

	}



	.visionbrew {}


	/* ABOUT PAGE END */
}
